<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1900&q=80);">
  <div class="banner-header">
    <h1>Add a New List</h1>
    <p>Create a new list to add movie bookmarks to</p>
  </div>
  <%= link_to lists_path class:"back-button" do %>
    <i class="fas fa-arrow-circle-left"></i>
  <% end %>
</div>

<div class="container">
  <div class="new-form">
    <%= simple_form_for(@list) do |f| %>
      <%= f.input :name, label:"List name" %>
      <%= f.input :photo, as: :file, label: "Upload an image for the list (optional)" %>
      <%= f.submit class:"btn btn-dark", id:"submit-button" %>
    <% end %>
  </div>
</div>
